.Net/SolutionServerSide/ServerJava/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8775/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Contract" />
  <xs:element name="correctCodeFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Contract" minOccurs="0" name="msg" nillable="true" type="q1:MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="correctCodeFoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>