.Net/SolutionServerSide/ServerNoSecure/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerJava" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerJava" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JavaMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDecrypted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentGUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JavaMessage" nillable="true" type="tns:JavaMessage" />
</xs:schema>